/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);

/* General */
html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0 0 75; /* bottom = footer height */
  padding-top: 50px;
  font-family: "Raleway", Sans-serif;
  background-color: #fff;
  padding: 25px;
}

section {
  padding-bottom: 60px;
}

section#arubik,
section#datatjej,
section#segelportalen,
section#studiecoach,
section#styrochstall {
  padding-bottom: 135px;
}

.container {
  padding: 15px 0px;
}

p {
  padding-bottom: 30px;
}

a {
  color: #333;
  font-family: "Roboto", sans-serif;
}

a:hover {
  color: #00a483;
  text-decoration: none;
}

.content-link {
  font-family: "Raleway", sans-serif;
}

figcaption {
  padding-bottom: 30px;
}

/* Navbar*/
.navbar {
  color: #333;
  background-color: #fff;
  border-color: transparent;
  padding: 10px 0px;
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 36px;
}

.navbar-default .nav li a {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #333;
}

.navbar-default .nav li a:hover {
    color: #00a483;
}

/* Footer */
footer {
  background-color: #f9f9f9;
  bottom: 0;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  overflow: hidden;
}

.footer-link {
  font-weight: 100;
  letter-spacing: 1px;
  color: #444;
  padding: 0px 15px;
}

footer p {
  padding: 0;
}

.created-by {
  color: #bbb;
}

/* Headings */
.heading {
  color: #333;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  padding-top: 60px;
}

.subheading {
  font-style: italic;
  padding-bottom: 30px;
}

.introduction {
  padding-bottom: 30px;
  text-align: center;
}

/* Porfolio Link Previews */
.portfolio-link {
  position: relative;
  padding: 15px 0px;
}

.portfolio-link:hover .img-preview {
  opacity: 0.2;
}

.portfolio-link:hover .caption {
  opacity: 1;
}

.img-preview {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.caption {
  text-align: center;
  color: #333;
  font-family: "Raleway", Sans-serif;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.caption-heading {
  font-size: 18px;
}
